{% extends "cpanel_template.twig" %}
{% set activetab = 'users' %}
{% block content %}

            <header id="header_banner" class="users_header">
                <div id="header_quote"><p>Users</p></div>
            </header>
            <div id="content_container">

                <table class="cpanel_table">

                    <tr>
                        <th>Avatar</th>
                        <th>Username</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                        <th>Brent</th>
                        <th>Role</th>
                        <th>Full Edit</th>
                    </tr>
                {% for user in users %}
                    <tr>
                        <td><img alt="profile picture of {{ user.username }}" src="src/ProjectWhisky/presentation/userimages/{{ user.imagePath }}"></td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.lastname }}</td>
                        <td>{{ user.email }}</td>

                        {% if user.blocked == 1 %}
                            <td class="red no_border">true
                        {% else %}
                            <td class="">false
                        {% endif %}</td>

                        {% if user.admin == 1 %}
                            <td class="green no_border">Admin
                        {% else %}
                            <td class="">User
                        {% endif %}</td>

                        <td><a href="CP_user_edit.php?id={{ user.id }}">Edit</a></td>
                    </tr>
                {% endfor  %}

                </table>
                
                <br>
                <a href="cp_user_add.php">Add new user</a>
                
                
            </div>
{% endblock %} 