{% extends "cpanel_template.twig" %}
{% set activetab = 'whiskies' %}
{% block title %} Whiskies  {% endblock %}
{% block content %}

            <header id="header_banner" class="whisky_header">
                <div id="header_quote"><p>Manage Whiskies</p></div>
            </header>
            <div id="content_container">
                <div id="controller" class="shadow">
                    <form class="center cpanel_form"><h2>Search Whiskies</h2>

                        <input type="text" name="search_whiskyname" id="search_whiskyname" placeholder="Whisky Name">
                        <input class="btn btn-primary" type="submit" value="Search">

                    </form>
                    
                    <a href="CP_whisky_add.php" class="btn btn-primary"><i class="fa fa-plus"></i> Add Whisky</a>

                    <table class="cpanel_table">

                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Age</th>
                            <th>Created</th>
                            <th>Full Edit</th>
                        </tr>
                    {% for whisky in whiskies %}
                        <tr>
                            <td class="text_center"><img alt="picture of {{ whisky.name }}" src="src/ProjectWhisky/presentation/img/{{ whisky.imagePath }}"></td>
                            <td>{{ whisky.name }}</td>
                            <td class="text_right">&euro; {{ whisky.price }}</td>
                            <td class="text_right">{{ whisky.age }}</td>
                            <td class="text_center">{{ whisky.creationDate }}</td>
                            <td class="text_center"><a href="CP_whisky_edit.php?id={{ whisky.id }}">Edit</a></td>
                        </tr>
                    {% endfor %}

                    </table>
                </div>
            </div>
{% endblock %}    
