{% extends "cpanel_template.twig" %}
{% set activetab = 'whiskies' %}
{% block title %} Edit Whisky {% endblock %}
{% block content %}

    <header id="header_banner" class="whisky_header">
        <div id="header_quote"><p>Edit Whisky</p></div>
    </header>
    <div id="content_container">
        {% if msg == "missing" %}
            <div id="notifier" class="yellow shadow">
                <p><span class="fa fa-exclamation-circle"></span>
                    All fields are required.</p>
            </div>
        {% elseif msg == "success" %}
            <div id="notifier" class="green shadow">
                <p><span class="fa fa-check-circle"></span>
                    Whisky successfully updated.</p>
            </div>
        {% elseif msg == "image_missing" %}
            <div id="notifier" class="red shadow">
                <p><span class="fa fa-times-circle"></span>
                    You need to upload image.</p>
            </div>
        {% elseif msg == "error" %}
            <div id="notifier" class="red shadow">
                <p><span class="fa fa-times-circle"></span>
                    An error occured.</p>
            </div>
        {% elseif msg == "info" %}
            <div id="notifier" class="blue shadow">
                <p><span class="fa fa-info-circle"></span>
                    "This is info, insert correct message here!"</p>
            </div>
        {% endif %}

            <div id="controller" class="shadow">
                <form id="whiskyAddition" class="cp_subform" action="CP_whisky_edit.php?id={{ whisky.id }}" method="post" enctype="multipart/form-data" oninput="aroma_amount.value=rating_aroma.value, color_amount.value=rating_color.value, taste_amount.value=rating_taste.value, aftertaste_amount.value=rating_aftertaste.value">

                    <div class="flex_parent">
                        <div class="flex_child">
                            <h3>Delete whisky: <input type="checkbox" name="deleteWhisky"></h3>

                            <h3>Name:</h3>
                            <input type="text" value="{{ whisky.name }}" id="whisky_name" name="whisky_name">

                            <h3>Distillery:</h3>
                            <select id="distillery_id" name="distillery_id">
                                {% for distillery in distilleries %}

                                    <option value="{{ distillery.id }}" {{ distillery.id == whisky.distilleryid ? "selected" : "" }}>{{ distillery.name }}</option>

                                {% endfor %}
                            </select>

                            <h3>Price:</h3>
                            <input type="number" min="0" value="{{ whisky.price }}" id="whisky_price" name="whisky_price"> <span> &euro;</span>

                            <h3>Age:</h3>
                            <input type="number" min="0" value="{{ whisky.age }}" id="whisky_age" name="whisky_age"><span> Years</span>

                            <h3>Strength:</h3>
                            <input type="number" min="0" max="100" value="{{ whisky.strength }}" id="whisky_strength" name="whisky_strength"><span> &#37;</span>

                            <h3>Barrel type:</h3>
                            <select id="barrel" name="barrel">
                                {% for barrel  in barrels %}
                                    <option value="{{ barrel.id }}" {{ barrel.id == whisky.barrelid ? "selected" : "" }}>{{ barrel.type }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="flex_child text_center">

                            <h3>Image:</h3>
                            <img src="src/ProjectWhisky/presentation/img/{{ whisky.imagepath }}" alt="image of {{ whisky.name }}"/>
                            <div class="fileUpload btn btn-primary center">
                                <span class="fa fa-pencil"></span> <span> Change Picture</span>
                                <input id="imgUploader" type="file" class="upload" name="whisky_image">
                                <input class="btn btn-primary" id="uploadFile" placeholder="{{ whisky.imagepath }}" disabled="disabled">
                            </div>

                        </div>
                    </div>
                    <div class="flex_parent">
                        <div class="flex_child">
                            <h3>Rating Aroma:</h3>
                            <input name="rating_aroma" id="rating_aroma" class="" type="range" min="0" max="10" step="0.5" value="{{ whisky.ratingaroma / 2 }}" list="slider-datalist">
                            <output name="aroma_amount" for="rating_aroma">{{ whisky.ratingaroma / 2 }}</output>
                        </div>
                        <div class="flex_child">
                            <h3>Rating Color:</h3>
                            <input name="rating_color" id="rating_color" class="" type="range" min="0" max="10" step="0.5" value="{{ whisky.ratingcolor / 2 }}" list="slider-datalist">
                            <output name="color_amount" for="rating_color">{{ whisky.ratingcolor / 2 }}</output>
                        </div>
                        <div class="flex_child">
                            <h3>Rating Taste:</h3>
                            <input name="rating_taste" id="rating_taste" class="" type="range" min="0" max="10" step="0.5" value="{{ whisky.ratingtaste / 2 }}" list="slider-datalist">
                            <output name="taste_amount" for="rating_taste">{{ whisky.ratingtaste / 2 }}</output>
                        </div>
                        <div class="flex_child">
                            <h3>Rating Aftertaste:</h3>
                            <input name="rating_aftertaste" id="rating_aftertaste" class="" type="range" min="0" max="10" step="0.5" value="{{ whisky.ratingaftertaste / 2 }}" list="slider-datalist">
                            <output name="aftertaste_amount" for="rating_aftertaste">{{ whisky.ratingaftertaste / 2 }}</output>
                        </div>
                        <datalist id="slider-datalist">
                            <option label="Minimum">0</option> 
                            <option>1</option> 
                            <option>2</option> 
                            <option>3</option> 
                            <option>4</option> 
                            <option label="midpoint">5</option> 
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option label="Maximum">10</option>
                        </datalist>
                    </div>


                    <h3>Review Aroma:</h3>
                    <textarea id="text_aroma" name="text_aroma" rows="5" cols="40">{{ whisky.textaroma }}</textarea>

                    <h3>Review Color:</h3>
                    <textarea id="text_color" name="text_color" rows="5" cols="40">{{ whisky.textcolor }}</textarea>

                    <h3>Review Taste:</h3>
                    <textarea id="text_taste" name="text_taste" rows="5" cols="40">{{ whisky.texttaste }}</textarea>

                    <h3>Review Aftertaste:</h3>
                    <textarea id="text_aftertaste" name="text_aftertaste" rows="5" cols="40">{{ whisky.textaftertaste }}</textarea>

                    <h3>Overall review:</h3>
                    <textarea id="text_review" name="text_review" rows="5" cols="40">{{ whisky.review }}</textarea>


                    {#Load all editors#}
                    <script>
                        CKEDITOR.replace( 'text_aroma' );
                        CKEDITOR.replace( 'text_color' );
                        CKEDITOR.replace( 'text_taste' );
                        CKEDITOR.replace( 'text_aftertaste' );
                        CKEDITOR.replace( 'text_review' );
                    </script><br>

                    <input name="whiskySaveBtn" class="btn btn-primary" type="submit" value="Save Changes">

                </form>
            </div>





    </div>
{% endblock %}    