{% extends "cpanel_template.twig" %}
{% set activetab = 'whiskies' %}
{% block title %} add whisky  {% endblock %}
{% block content %}

    <header id="header_banner" class="whisky_header">
        <div id="header_quote"><p>Add Whisky</p></div>
    </header>
        <div id="content_container">

            {% if msg == "missing" %}
                <div id="notifier" class="yellow shadow">
                    <p><span class="fa fa-exclamation-circle"></span>
                        Fields missing! Changes saved, but whisky is hidden.</p>
                </div>
            {% elseif msg == "success" %}
                <div id="notifier" class="green shadow">
                    <p><span class="fa fa-check-circle"></span>
                        Whisky successfully added.</p>
                </div>
            {% elseif msg == "image_missing" %}
                <div id="notifier" class="red shadow">
                    <p><span class="fa fa-times-circle"></span>
                        You need to upload image.</p>
                </div>
            {% elseif msg == "error" %}
                <div id="notifier" class="red shadow">
                    <p><span class="fa fa-times-circle"></span>
                        An error occured.</p>
                </div>
            {% elseif msg == "info" %}
                <div id="notifier" class="blue shadow">
                    <p><span class="fa fa-info-circle"></span>
                        "This is info, insert correct message here!"</p>
                </div>
            {% endif %}


            <div id="controller" class="shadow">
                <form id="whiskyAddition" action="CP_whisky_add.php" method="post" enctype="multipart/form-data"><br>
                    <h3>Profile Picture:</h3>
                    {#<img src="src/ProjectWhisky/presentation/userimages/{{ userData.image_path }}" alt="Profile Picture of {{ userData.firstname }}"/>#}

                    <div class="fileUpload btn btn-primary">
                        <span class="fa fa-plus"></span> <span> Upload Picture</span>
                        <input id="imgUploader" type="file" class="upload" name="whisky_image">
                    </div>
                    <input id="uploadFile" placeholder="No File Selected" disabled="disabled"><br>
                {#<input id="imgUploaderWhisky" type="file" class="upload" name="whisky_image"><br>#}

                <label for="whisky_name">Name: </label>
                <input type="text" id="whisky_name" name="whisky_name" value="{{ savedData.name }}"><br>

                <label for="distillery_id">Distillery: </label>
                <select id="distillery_id" name="distillery_id">
                    {% if savedData.distillery == 0 %}
                        <option value="0" selected >Select distillery</option>
                    {% else %}
                        <option value="0" >Select distillery</option>
                    {% endif %}

                    {% for distillery  in distilleries %}
                        {% if savedData.distillery == distillery.id %}
                            <option selected value="{{ savedData.distillery }}">{{ distillery.name }}</option>
                        {% else %}
                            <option value="{{ distillery.id }}">{{ distillery.name }}</option>
                        {% endif %}
                    {% endfor  %}
                </select><br>

                <label for="whisky_price">Price: </label>
                <input type="number"  min="0" id="whisky_price" name="whisky_price" value="{{ savedData.price }}"><br>

                <label for="whisky_age">Age: </label>
                <input type="number"  min="0" id="whisky_age" name="whisky_age" value="{{ savedData.age }}"><br>

                <label for="whisky_strength">Strength: </label>
                <input type="number"  min="0" max="100" id="whisky_strength" name="whisky_strength" value="{{ savedData.strength }}">%<br>

                <label for="barrel">Barrel type: </label>
                <select id="barrel" name="barrel">
                    {% if savedData.barrel_id == 0 %}
                        <option value="0" selected >Select a barrel</option>
                    {% else %}
                        <option value="0">Select a barrel</option>
                    {% endif %}

                    {% for barrel  in barrels %}
                        {% if savedData.barrel_id == barrel.id %}
                            <option selected value="{{ barrel.id }}">{{ barrel.type }}</option>
                        {% else %}
                            <option value="{{ barrel.id }}">{{ barrel.type }}</option>
                        {% endif %}

                    {% endfor  %}
                </select><br>

                <label for="rating_aroma">Rating Aroma: </label>
                <input type="number" min="0" max="20" id="rating_aroma" name="rating_aroma" value="{{ savedData.rating_aroma }}"><br>

                <label for="rating_color">Rating Color: </label>
                <input type="number" min="0" max="20" id="rating_color" name="rating_color" value="{{ savedData.rating_color }}"><br>

                <label for="rating_taste">Rating Taste: </label>
                <input type="number" min="0" max="20" id="rating_taste" name="rating_taste" value="{{ savedData.rating_taste }}"><br>

                <label for="rating_aftertaste">Rating Aftertaste: </label>
                <input type="number" min="0" max="20" id="rating_aftertaste" name="rating_aftertaste" value="{{ savedData.rating_aftertaste }}"><br>

                <label for="text_aroma">Text Aroma: </label><br>
                <textarea id="text_aroma" name="text_aroma" rows="5" cols="40">{{ savedData.text_aroma }}</textarea><br>

                <label for="text_color">Text Color: </label><br>
                <textarea id="text_color" name="text_color" rows="5" cols="40">{{ savedData.text_color }}</textarea><br>

                <label for="text_taste">Text Taste: </label><br>
                <textarea id="text_taste" name="text_taste" rows="5" cols="40">{{ savedData.text_taste }}</textarea><br>

                <label for="text_aftertaste">Text Aftertaste: </label><br>
                <textarea id="text_aftertaste" name="text_aftertaste" rows="5" cols="40">{{ savedData.text_aftertaste }}</textarea><br>

                <label for="text_review">Overall review: </label><br>
                <textarea id="text_review" name="text_review" rows="5" cols="40">{{ savedData.review }}</textarea><br>
                <input type="submit" value="Save" name="whiskySaveBtn">

            </form>
            </div>




        </div>
{% endblock %}    