    {% extends "default_template.twig" %}
        {% block title %}
            Profile
        {% endblock %}

        {% block content %}

            <header id="header_banner" class="profile_header">
            </header>
            <div id="content_container">

                {% if userData.image_path != "default.jpg" %}

                    <form id="profile_fileRemover_form" action="profile.php" method="post">
                        <div class="fileRemover btn btn-primary">
                            <span class="fa fa-times"></span> <span> Remove Picture</span>
                            <input type="submit" name="removeProfileImageBtn" id="imgRemover" class="remover" value="Remove Picture"/>
                        </div>
                    </form>

                {% endif %}

                <form id="profile_edit_form" action="profile.php" method="post" enctype="multipart/form-data">

                    <div class="flex_parent clearfix">
                        <div class="profile_image_displayer left">
                            <h3>Profile Picture:</h3>
                            <img src="src/ProjectWhisky/presentation/userimages/{{ userData.image_path }}" alt="Profile Picture of {{ userData.firstname }}"/>

                            <div class="fileUpload btn btn-primary">
                                <span class="fa fa-pencil"></span> <span> Change Picture</span>
                                <input id="imgUploader" type="file" class="upload" name="userImage">
                            </div>

                            <input id="uploadFile" placeholder="No File Selected" disabled="disabled">

                        </div>

                        <div class="profile_edit_info left">
                            <h3>First name:</h3>
                            <input type="text" value="{{ userData.firstname }}" name="userFirstName" placeholder="Firstname"/>
                            <h3>Last name:</h3>
                            <input type="text" value="{{ userData.lastname }}" name="userLastName" placeholder="Lastname"/>
                            <h3>E-mail:</h3>
                            <input type="text" value="{{ userData.email }}" name="userEmail" placeholder="E-mail"/>
                        </div>
                    </div>

                    <div class="change_password_box">
                        <a class="dontChangePass btn btn-primary" href="#"><span class="fa fa-pencil"></span> <span> Close</span></a>
                        <a class="changePass btn btn-primary" href="#"><span class="fa fa-pencil"></span> <span> Change Password</span></a>
                        <div id="passwordBlock">
                            <h3>Change Password:</h3>
                            <input class="passClass" type="password" value="" name="userOldPassword" placeholder="Old password" disabled/>
                            <input class="passClass" type="password" value="" name="userNewPassword" placeholder="New password" disabled/>
                            <input class="passClass" type="password" value="" name="userNewPasswordRepeat" placeholder="Repeat password" disabled/>
                        </div>
                    </div>

                    <input type="submit" value="SAVE CHANGES"/>

                </form>
                {{ dialogBlock }}
            </div>


            <script>

            </script>

        {% endblock %}