    {% extends "default_template.twig" %}
        {% block title %}
            Home
        {% endblock %}

        {% block content %}

            <header id="header_banner" class="vert_half">
                <div id="header_quote"><p>Urine Connoisseur extraordinaire</p></div>
            </header>
            <div id="content_container">
                <a href="http://www.w3schools.com/php/php_file_upload.asp">info about uploading images 1</a>
                <br>
                <a href="http://stackoverflow.com/questions/5138719/change-default-text-in-input-type-file">info about styling type="file"</a>
                <br><br>
                <form action="profile.php" method="post" enctype="multipart/form-data">
                    <input id="imgUploader" type="file" name="userImage" >
                    Image path: {{ userData.image_path }}
                    <br>
                    <input type="text" value="{{ userData.firstname }}" name="userFirstName" placeholder="Firstname"/>
                    <br>
                    <input type="text" value="{{ userData.lastname }}" name="userLastName" placeholder="Lastname"/>
                    <br>
                    <input type="text" value="{{ userData.email }}" name="userEmail" placeholder="E-mail"/>
                    <br>
                    <a class="changePass" href="#">Change password</a>
                    <a class="dontChangePass" href="#">Don't change password</a>
                    <div id="passwordBlock">
                        <input class="passClass" type="password" value="" name="userOldPassword" placeholder="Old password" disabled/>
                        <br>
                        <input class="passClass" type="password" value="" name="userNewPassword" placeholder="New password" disabled/>
                        <br>
                        <input class="passClass" type="password" value="" name="userNewPasswordRepeat" placeholder="Repeat password" disabled/>
                        <br>
                    </div>
                    <br>
                    <input type="submit" name="profileSaveBtn" value="Save"/>
                </form>
                {{ files }}
            </div>


            <script>

            </script>

        {% endblock %}