    {% extends "default_template.twig" %}
        {% block title %}
            Home
        {% endblock %}

        {% block content %}

            <header id="header_banner" class="vert_half">
                <div id="header_quote"><p>Urine Connoisseur extraordinaire</p></div>
            </header>
            <div id="content_container">
            
                <form action="profile.php" method="post">
                    <input type="submit" name="removeProfileImageBtn" value="Remove image"/>
                </form>

                <form id="profile_edit_form" action="profile.php" method="post" enctype="multipart/form-data">


                    <div class="flex_parent clearfix">
                        <div class="profile_image_displayer left">
                            <h3>Profile Picture:</h3>
                            <img src="src/ProjectWhisky/presentation/userimages/{{ userData.image_path }}" alt="Profile Pictute of {{ userData.firstname }}"/>
                            {#<input class="fake" value="{{ imageName }}">
                            <input id="imgUploader" type="file" name="userImage">#}


                            <input id="uploadFile" placeholder="Choose File" disabled="disabled" />
                            <div class="fileUpload btn btn-primary">
                                <span>Upload</span>
                                <input id="uploadBtn" type="file" class="upload" />
                            </div>

                        </div>

                        <div class="profile_edit_info left">
                            <h3>Edit Firstname:</h3>
                            <input type="text" value="{{ userData.firstname }}" name="userFirstName" placeholder="Firstname"/>
                            <h3>Edit Lastname:</h3>
                            <input type="text" value="{{ userData.lastname }}" name="userLastName" placeholder="Lastname"/>
                            <h3>Edit E-mail:</h3>
                            <input type="text" value="{{ userData.email }}" name="userEmail" placeholder="E-mail"/>
                        </div>
                    </div>

                    <div class="change_password_box">
                        <a class="changePass" href="#">Change password</a>
                        <a class="dontChangePass" href="#">Don't change password</a>
                        <div id="passwordBlock">
                            <h3>Edit Password:</h3>
                            <input class="passClass" type="password" value="" name="userOldPassword" placeholder="Old password" disabled/>
                            <input class="passClass" type="password" value="" name="userNewPassword" placeholder="New password" disabled/>
                            <input class="passClass" type="password" value="" name="userNewPasswordRepeat" placeholder="Repeat password" disabled/>
                        </div>
                    </div>

                    <input type="submit" value="Save"/>

                </form>
                {{ dialogBlock }}
            </div>


            <script>

            </script>

        {% endblock %}