    {% extends "default_template.twig" %}
        {% block title %}
            Home
        {% endblock %}

        {% block content %}

            <header id="header_banner" class="vert_half">
                <div id="header_quote"><p>Urine Connoisseur extraordinaire</p></div>
            </header>
            <div id="content_container">
                <a href="http://www.w3schools.com/php/php_file_upload.asp">info about uploading images 1</a>
                
                <form id="profile_edit_form" action="profile.php" method="post" enctype="multipart/form-data">
                    <div class="profile_image_displayer">
                        <img src="src/ProjectWhisky/presentation/userimages/{{ userData.image_path }}" alt="Profile Picfute of {{ userData.firstname }}"/>
                        <input class="fake" value="Change Profile Picture...">
                        <input id="imgUploader" type="file" name="userImage">
                    </div>
                    <input type="text" value="{{ userData.firstname }}" name="userFirstName" placeholder="Firstname"/>
                    <input type="text" value="{{ userData.lastname }}" name="userLastName" placeholder="Lastname"/>
                    <input type="text" value="{{ userData.email }}" name="userEmail" placeholder="E-mail"/>
                    <a class="changePass" href="#">Change password</a>
                    <a class="dontChangePass" href="#">Don't change password</a>
                    <div id="passwordBlock">
                        <input class="passClass" type="password" value="" name="userOldPassword" placeholder="Old password" disabled/>
                        <br>
                        <input class="passClass" type="password" value="" name="userNewPassword" placeholder="New password" disabled/>
                        <br>
                        <input class="passClass" type="password" value="" name="userNewPasswordRepeat" placeholder="Repeat password" disabled/>
                        <br>
                    </div>
                    <br>
                    <input type="submit" name="profileSaveBtn" value="Save"/>
                </form>
                {{ files }}
            </div>


            <script>

            </script>

        {% endblock %}