
        {% block content %}
                        <ul>
                            {% for whisky in whiskies %}
                            <li>
                                {% set ratingtotal = (whisky.ratingAroma + whisky.ratingColor + whisky.ratingTaste + whisky.ratingAftertaste) * 0.125 %}
                                <div class="progress-radial progress-{{ (ratingtotal * 10) | round }}">
                                    <div class="overlay">{{ ratingtotal | round(2) }}</div>
                                </div>
                                <a class="whisky_box" href="whisky.php?id={{ whisky.id }}">
                                    <img src="src/ProjectWhisky/presentation/img/{{ whisky.imagePath }}" alt="{{ whisky.name }} Image">
                                    <div class="whisky_box_name">{{ whisky.name }}</div>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
        {% endblock %}