    {% extends "default_template.twig" %}
        {% block content %}
            <header id="header_banner">
                <div id="header_quote"><p>IceTea On The Rocks</p></div>
            </header>
            <div id="content_container">
                <section class="whisky_view" id="defined_whiskies">


                    <h2>Search results</h2>
                    <ul>
                        {% for whisky in whiskies %} {# DISPLAY all whiskies unless search criteria is added items #}
                        <li>
                            <div class="progress-radial progress-93"> {# replace number with twig variable for score #}
                                <div class="overlay">93</div> {# replace number with twig variable for score #}
                            </div>
                            <a class="whisky_box" href="whisky.php?id={{ whisky.id }}">
                                <img src="src/ProjectWhisky/presentation/img/{{ whisky.imagePath }}" alt="{{ whisky.name }} Logo">
                                <div class="whisky_box_name">{{ whisky.name }}</div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>

                    <h2>All Whiskies</h2>
                    <ul>
                        {% for whisky in whiskies %} {# DISPLAY all whiskies#}
                        <li>
                            <div class="progress-radial progress-93"> {# replace number with twig variable for score #}
                                <div class="overlay">93</div> {# replace number with twig variable for score #}
                            </div>
                            <a class="whisky_box" href="whisky.php?id={{ whisky.id }}">
                                <img src="src/ProjectWhisky/presentation/img/{{ whisky.imagePath }}" alt="{{ whisky.name }} Logo">
                                <div class="whisky_box_name">{{ whisky.name }}</div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </section>
            </div>
        {% endblock %}