    {% extends "default_template.twig" %}
        {% block content %}
            <header id="header_banner">
                <div id="header_quote"><p>IceTea On The Rocks</p></div>
            </header>
            <div id="content_container">
                <section class="whisky_view" id="defined_whiskies">
                    <h2>Search All Whiskies</h2>
                    <form action="search.php" method="get">
                        <label>
                            Region:
                            <select name="region">
                           		<option value="%">-- all regions --</option>
	                            {% for distillery in distilleries %}
		  							<option value="{{ distillery.region }}">{{ distillery.region }}</option>
		  						{% endfor %}
							</select>
                        </label>

                         <label>
                            Barrel:
                            <select name="barrel_id">
                            	<option value="%">-- any barrel --</option>
	                            {% for barrel in barrels %}
		  							<option value="{{ barrel.id }}">{{ barrel.type }}</option>
		  						{% endfor %}
							</select>
                        </label>

                        <label>
                            <h4>Alcohol Percentage:</h4>
                            <div id="strength_range"></div>
						</label>

                        <label>
                            <h4>Total Score:</h4>
                            <div id="score_range"></div>
						</label>
                        
						<input type="submit" value="Search">

                    </form>

                    <h2>Search results</h2>
                    <ul>
                        {% for whisky in whiskies %}
                        <li>
                            {% set ratingtotal = (whisky.ratingAroma + whisky.ratingColor + whisky.ratingTaste + whisky.ratingAftertaste) * 0.125 %}
                            <div class="progress-radial progress-{{ (ratingtotal * 10) | round }}"> 
                                <div class="overlay">{{ ratingtotal | round(2) }}</div>
                            </div>
                            <a class="whisky_box" href="whisky.php?id={{ whisky.id }}">
                                <img src="src/ProjectWhisky/presentation/img/{{ whisky.imagePath }}" alt="{{ whisky.name }} Image">
                                <div class="whisky_box_name">{{ whisky.name }}</div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>

                    
                </section>
            </div>
        {% endblock %}