    {% extends "default_template.twig" %}
        {% block content %}
            <header id="header_banner">
                <div id="header_quote"><p>IceTea On The Rocks</p></div>
            </header>
            <div id="content_container">
                <section class="whisky_view" id="defined_whiskies">
                    <h2>Search All Whiskies</h2>
                    <form action="search.php" method="post">
                        <label>
                            Region:
                            <select name="formGender">
	                            {# {% for region in regions %} #}
		  							<option value="{{barrel.id}}">{{barrel.type}}</option>
		  						{# {% endfor %} #}
							</select>
                        </label>
                         <label>
                            Barrel:
                            <select name="formGender">
	                            {% for barrel in barrels %}
		  							<option value="{{barrel.id}}">{{barrel.type}}</option>
		  						{% endfor %}
							</select>
                        </label>
                        <label id="labelstrength">
                            Alcohol Percentage:
                            <input type="text" class="sliderValue" name="strength_min" data-index="0" value="10" />
							<input type="text" class="sliderValue" name="strength_max" data-index="1" value="90" />
						</label>
							<div id="sliderstrength"></div>

                        <label id="labelscore">
                            Total Score:
                            <input type="text" class="sliderValue" name="score_min" data-index="2" value="0" />
							<input type="text" class="sliderValue" name="score_max" data-index="3" value="10" />
						</label>	
							<div id="sliderscore"></div>
                        <h1>Hello world</h1>
                        <div id="slider"></div>
                        <div id="dateSlider"></div>
                        <div id="editSlider"></div>
                        
						<input type="submit" value="Search">
                    </form>

                    <h2>Search results</h2>
                    <ul>
                        {% for whisky in whiskies %} {# DISPLAY all whiskies unless search criteria is added items #}
                        <li>
                            <div class="progress-radial progress-93"> {# replace number with twig variable for score #}
                                <div class="overlay">93</div> {# replace number with twig variable for score #}
                            </div>
                            <a class="whisky_box" href="whisky.php?id={{ whisky.id }}">
                                <img src="src/ProjectWhisky/presentation/img/{{ whisky.imagePath }}" alt="{{ whisky.name }} Logo">
                                <div class="whisky_box_name">{{ whisky.name }}</div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>

                    
                </section>
            </div>
        {% endblock %}