    {% extends "default_template.twig" %}
        {% block title %}
            {{ whisky.name }}
        {% endblock %}

        {% block content %}
            <header id="header_banner" class="vert_half">
                <div id="header_quote"><p>IceTea On The Rocks</p></div>
            </header>
            <div id="whisky_page">
                <div id="content_container" class="clearfix flex_parent">
                    <aside id="whisky_sidebar" class="left">
                        <div class="whisky_image_container center">
                            <img src="src/ProjectWhisky/presentation/img/{{ whisky.imagePath }}" alt="{{ whisky.name }} Image">
                        </div>
                        <div id="information">
                            bla bla
                        </div>
                    </aside>
                    {% set ratingtotal = (whisky.ratingAroma + whisky.ratingColor + whisky.ratingTaste + whisky.ratingAftertaste) * 0.125 %}
                    <div id="whisky_total" class="progress-radial progress-{{ (ratingtotal * 10) | round }}"> 
                        <div class="overlay">{{ ratingtotal }}</div>
                    </div>
                    <div class="rating_box">
                        <h2>{{ whisky.name }}</h2>
                        <div id="bars">
                            <!--bar-->
                            <div class="clearfix">
                                <span class="left">Aroma</span>
                                <span class="right">{{ whisky.ratingAroma * 0.5 }}</span>
                            </div>
                            <div class="rating_base"></div>
                            <div class="rating" style="width: {{ whisky.ratingAroma * 5 }}%;"></div>

                            <!--bar-->
                            <div class="clearfix">
                                <span class="left">Taste</span>
                                <span class="right">{{ whisky.ratingTaste * 0.5 }}</span>
                            </div>
                            <div class="rating_base"></div>
                            <div class="rating" style="width: {{ whisky.ratingTaste * 5 }}%;"></div>

                            <!--bar-->
                            <div class="clearfix">
                                <span class="left">Aftertaste</span>
                                <span class="right">{{ whisky.ratingAftertaste * 0.5 }}</span>
                            </div>
                            <div class="rating_base"></div>
                            <div class="rating" style="width: {{ whisky.ratingAftertaste * 5 }}%;"></div>

                            <!--bar-->
                            <div class="clearfix">
                                <span class="left">Color</span>
                                <span class="right">{{ whisky.ratingColor * 0.5 }}</span>
                            </div>
                            <div class="rating_base"></div>
                            <div class="rating" style="width: {{ whisky.ratingColor * 5 }}%;"></div>
                        </div>
                    </div>
                    <div id="contentbox">
                        <div id="review">
                            <h3>Aroma</h3>
                            <p>{{ whisky.textAroma }}</p>
                            <h3>Taste</h3>
                            <p>{{ whisky.textTaste }}</p>
                            <h3>Aftertaste</h3>
                            <p>{{ whisky.textAftertaste }}</p>
                            <h3>Color</h3>
                            <p>{{ whisky.textColor }}</p>
                            <h3>In Depth Review</h3>
                            <p>{{ whisky.review }}</p>
                        </div>
                        <div id="comments">
                        {% for comment in comments %}
                        <br>
                        {{comment.comment}}
                        {{comment.commentTime}}
                        {{comment.commentDate}}
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}