    {% extends "default_template.twig" %}
        {% block content %}
            <header id="header_banner">
                <div id="header_quote"><p>IceTea On The Rocks</p></div>
            </header>
            <div id="content_container">
                <section class="whisky_view" id="defined_whiskies">
                    <h2>Search All Whiskies</h2>
                    <form action="search.php" method="post">
                        <label>
                            Region:
                            <select name="">
	                            {% for distillery in distilleries %}
		  							<option value="{{ distillery.region }}">{{ distillery.region }}</option>
		  						{% endfor %}
							</select>
                        </label>
                         <label>
                            Barrel:
                            <select name="">
	                            {% for barrel in barrels %}
		  							<option value="{{ barrel.id }}">{{ barrel.type }}</option>
		  						{% endfor %}
							</select>
                        </label>
                        <label id="labelstrength">
                            Alcohol Percentage:
						</label>
							

                        <label id="labelscore">

						</label>
						<div id="sliderscore"></div>
                        
                        <h1>Hello world</h1>
                        <div id="editSlider"></div>
                        
						<input type="submit" value="Search">
                    </form>

                    <h2>Search results</h2>
                    <ul>
                        {% for whisky in whiskies %}
                        <li>
                            {% set ratingtotal = (whisky.ratingAroma + whisky.ratingColor + whisky.ratingTaste + whisky.ratingAftertaste) * 0.125 %}
                            <div class="progress-radial progress-{{ (ratingtotal * 10) | round }}"> 
                                <div class="overlay">{{ ratingtotal | round(2) }}</div>
                            </div>
                            <a class="whisky_box" href="whisky.php?id={{ whisky.id }}">
                                <img src="src/ProjectWhisky/presentation/img/{{ whisky.imagePath }}" alt="{{ whisky.name }} Image">
                                <div class="whisky_box_name">{{ whisky.name }}</div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>

                    
                </section>
            </div>
        {% endblock %}