    {% extends "default_template.twig" %}
        {% block title %}
            {{ whisky.name }}
        {% endblock %}

        {% block content %}
            <header id="header_banner" class="vert_half">
                <div id="header_quote"><p>IceTea On The Rocks</p></div>
            </header>
            <div id="whisky_page">
                <div id="content_container" class="clearfix flex_parent">
                    <aside id="whisky_sidebar" class="left">
                        <div class="whisky_image_container center">
                            <img src="src/ProjectWhisky/presentation/img/{{ whisky.imagePath }}" alt="{{ whisky.name }} Image">
                        </div>
                    </aside>
                    <div class="rating_box left">
                        <h2>{{ whisky.name }}</h2>
                        <!--bar-->
                        <div class="clearfix">
                            <span class="left">Aroma</span>
                            <span class="right">{{ whisky.ratingAroma * 5 }}</span>
                        </div>
                        <div class="rating_base"></div>
                        <div class="rating" style="width: {{ whisky.ratingAroma * 5 }}%;"></div>

                        <!--bar-->
                        <div class="clearfix">
                            <span class="left">Taste</span>
                            <span class="right">{{ whisky.ratingTaste * 5 }}</span>
                        </div>
                        <div class="rating_base"></div>
                        <div class="rating" style="width: {{ whisky.ratingTaste * 5 }}%;"></div>

                        <!--bar-->
                        <div class="clearfix">
                            <span class="left">Aftertaste</span>
                            <span class="right">{{ whisky.ratingAftertaste * 5 }}</span>
                        </div>
                        <div class="rating_base"></div>
                        <div class="rating" style="width: {{ whisky.ratingAftertaste * 5 }}%;"></div>

                        <!--bar-->
                        <div class="clearfix">
                            <span class="left">Color</span>
                            <span class="right">{{ whisky.ratingColor * 5 }}</span>
                        </div>
                        <div class="rating_base"></div>
                        <div class="rating" style="width: {{ whisky.ratingColor * 5 }}%;"></div>
                    </div>
                    
                </div>
            </div>
        {% endblock %}