    {% extends "default_template.twig" %}
        {% block title %}
            {{ whisky.name }}
        {% endblock %}

        {% block content %}
        
            <header id="header_banner" class="whisky_header">
                <div id="header_quote"><p>IceTea On The Rocks</p></div>
            </header>
            <div id="whisky_page">
                <div id="content_container" class="clearfix flex_parent">
                    <aside id="whisky_sidebar" class="left">
                        <div class="whisky_image_container center">
                            <img src="src/ProjectWhisky/presentation/img/{{ whisky.imagePath }}" alt="{{ whisky.name }} Image">
                        </div>
                        <div id="information">
                            <div>
                                <h3>Distillery:</h3>
                                <p><a href="distillery.php?id={{ whisky.distilleryId }}">{{ whisky.distilleryName }}</a></p>
                            </div>
                            <div>
                                <h3>Age:</h3>
                                <p>{{ whisky.age }} Years</p>
                            </div>
                            <div>
                                <h3>Alcohol Percentage:</h3>
                                <p>{{ whisky.strength }}%</p>
                            </div>
                            <div>
                                <h3>Barrel type:</h3>
                                <p>{{ barrel }}</p>
                            </div>
                            <div>
                                <h3>Region:</h3>
                                <p>{{ region }}</p>
                            </div>
                            <div>
                                <h3>Estimated Price:</h3>
                                <p>&euro; {{ whisky.price | number_format(2) }}</p>
                            </div>
                        </div>
                    </aside>
                    {% set ratingtotal = (whisky.ratingAroma + whisky.ratingColor + whisky.ratingTaste + whisky.ratingAftertaste) * 0.125 %}
                    <div id="whisky_total" class="progress-radial progress-{{ (ratingtotal * 10) | round }}"> 
                        <div class="overlay">{{ ratingtotal }}</div>
                    </div>
                    <div class="rating_box">
                        <h2>{{ whisky.name }}</h2>
                        <div id="bars">
                            <!--bar-->
                            <div class="clearfix">
                                <span class="left">Aroma</span>
                                <span class="right">{{ whisky.ratingAroma * 0.5 }}</span>
                            </div>
                            <div class="rating_base"></div>
                            <div class="rating" style="width: {{ whisky.ratingAroma * 5 }}%;"></div>

                            <!--bar-->
                            <div class="clearfix">
                                <span class="left">Taste</span>
                                <span class="right">{{ whisky.ratingTaste * 0.5 }}</span>
                            </div>
                            <div class="rating_base"></div>
                            <div class="rating" style="width: {{ whisky.ratingTaste * 5 }}%;"></div>

                            <!--bar-->
                            <div class="clearfix">
                                <span class="left">Aftertaste</span>
                                <span class="right">{{ whisky.ratingAftertaste * 0.5 }}</span>
                            </div>
                            <div class="rating_base"></div>
                            <div class="rating" style="width: {{ whisky.ratingAftertaste * 5 }}%;"></div>

                            <!--bar-->
                            <div class="clearfix">
                                <span class="left">Color</span>
                                <span class="right">{{ whisky.ratingColor * 0.5 }}</span>
                            </div>
                            <div class="rating_base"></div>
                            <div class="rating" style="width: {{ whisky.ratingColor * 5 }}%;"></div>
                        </div>
                    </div>
                    <div id="contentbox">
                        <div id="review">
                            <h2 id="description_header">Detailed description:</h2>
                            <div class="review_box">
                                <h3>Aroma</h3>
                                <p>{{ whisky.textAroma }}</p>
                            </div>
                            <div class="review_box">
                                <h3>Taste</h3>
                                <p>{{ whisky.textTaste }}</p>
                            </div>
                            <div class="review_box">
                                <h3>Aftertaste</h3>
                                <p>{{ whisky.textAftertaste }}</p>
                            </div>
                            <div class="review_box">
                                <h3>Color</h3>
                                <p>{{ whisky.textColor }}</p>
                            </div>
                            <h2 id="review_header">Review:</h2>
                            <div class="review_box">
                                <p>{{ whisky.review }}</p>
                            </div>
                        </div>
                        <div id="comments">
                            <h2 id="description_header">Comments:</h2>
                                    <form method="post" action="whisky.php?id={{ whisky.id }}" name="commentsForm">
							            <textarea name="editor1" id="editor1" rows="10" cols="80">
							            
							            </textarea>
							            <script>
							                // Replace the <textarea id="editor1"> with a CKEditor
							                // instance, using default configuration.
							                CKEDITOR.replace( 'editor1' );
							            </script>
							            <input type="submit" value="Post message" name="sendMsgBtn"/>
       								 </form>
                            {% for comment in comments %}
                                <div class="comment flex_parent clearfix">
                                    <div class="profile_pic comment_pic left">
                                        <img alt="profile picture of {{ comment.username }}" src="src/ProjectWhisky/presentation/userimages/default.jpg{{ comment.imagePath }}">
                                    </div>
                                    <div class="user_comment left">
                                        <h3>{{comment.username}} says:</h3>
                                        <p>{{comment.comment}}</p>
                                    </div>
                                    <div class="comment_timestamp clearfix">
                                        <div class="comment_controls">
                                            <a href="" alt="Edit comment"><div class="fa fa-pencil"> Edit</div></a>
                                            <a href="" alt="Remove comment"><div class="fa fa-trash"> Remove</div></a>
                                            <a href="" alt="Ban {{ comment.username }}"><div class="fa fa-ban"> Insta Ban</div></a>
                                            <a href="" alt="Reply"><div class="fa fa-reply"> Reply</div></a>
                                        </div>
                                        <p class="right fa fa-comment"> Gepost op {{comment.commentDate}} om {{comment.commentTime}}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}